@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html {
  background: #ddd;
  font-family: sans-serif;
}

body {
  background-color: #ddd;
}

h1 {
  color: #666;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  border-radius: 15px 15px 0 0;
}